
/* 초기화 */
* { /* *(아스트릭)은 모든 태그 선택자 */
    margin: 0;
    padding: 0;
    /* 가로세로 길이 기준을 보더박스 기준으로 함. 
    css에서는 일반적으로 border box를 기준으로 한다. */
    box-sizing: border-box;
}
section { /* 모든 섹션에 패딩 0, 80 적용*/
    padding: 0 80px;
    margin-top: 50px;
}

/* footer 섹션 */

/* 각종 링크 */
#footer {
    background-color: rgba(247, 245, 245, 0.932);
}
#footer .fgrid1 {
    line-height: 250%;
    font-size: 11pt;
    padding: 20px 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* 각종 링크 끝 */

/* 수평선 */
#footer .tail {
    position: sticky;
    top: 0%;
    height: 80px;
    padding:  0 80px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
#footer .icon_box {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

/* 수평선 끝 */

/* 아이콘 라인 */
/* 아이콘 라인 끝 */