

/* 초기화 */
* { /* *(아스트릭)은 모든 태그 선택자 */
    margin: 0;
    padding: 0;
    /* 가로세로 길이 기준을 보더박스 기준으로 함. 
    css에서는 일반적으로 border box를 기준으로 한다. */
    box-sizing: border-box;
}

section { /* 모든 섹션에 패딩 0, 80 적용*/
    padding: 0 80px;
    margin-top: 50px;
}

/* 둘러보기 섹션 */

#around h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

#around .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
#around img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
}
#around .inner {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap : 15px;
    display: flex;
    align-items: center;
}


/* 살아보기 섹션 */

#live .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
#live h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}
#live img{
    width: 100%;
    border-radius: 10px;
}
#live div {
    font-size: 18px;
    font-weight: 900;
    padding: 10px 0;
}